.feedBackSide{
    padding: 20px;
    .feedbackTitle{
        text-align: center;
        &>span{
            font-family: "Seasona Sub";
            font-style: italic;
            color:#dba765;
            font-size: 30px;
            font-weight: 400;
            line-height: 20px;
            text-transform: capitalize;
        }
        &>h3{
            font-family: "Seasona Sub";
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
            color: #000;
            font-style: normal;
        }
    }
    .backgroundFeedback{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
       .circle{
        position: absolute;
        bottom: -60px;
        border-radius:100%;
        background-color: #dba765;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        &>h3{
            font-size: 50px;
            font-family: "Seasona Heading";
            color: #fff;
            margin-bottom: 0;
            &>span{
                font-size: 20px;
            }
        }
        &>p{
            color: #fff;
            font-size:12px;
        }
       }
        
    }
}
@media (min-width:768px) and (max-width:819.9px){
.feedBackSide{
    height: 50vh;
    .backgroundFeedback{
        display: flex;
        flex-direction: column;
        padding: 10px 0; 
        .arrow{
            display: none;
        }
        .circle{
            position: absolute;
            bottom: -100px;
        }
    }
}
}
@media (min-width:414px) and (max-width:767.9px){
    .feedBackSide{
        height: 50vh;
        .backgroundFeedback{
            display: flex;
            flex-direction: column;
            padding: 10px 0; 
            .arrow{
                display: none;
            }
            .circle{
                position: absolute;
                bottom: -100px;
            }
        }
    }
}
@media (min-width:390px) and (max-width:413.9px){
    .feedBackSide{
        height: 50vh;
        .backgroundFeedback{
            display: flex;
            flex-direction: column;
            padding: 10px 0; 
            .arrow{
                display: none;
            }
            .circle{
                position: absolute;
                bottom: -100px;
            }
        }
    }
}
@media (min-width:375px) and (max-width:389.9px){
    .feedBackSide{
        height: 50vh;
        .backgroundFeedback{
            display: flex;
            flex-direction: column;
            padding: 10px 0; 
            .arrow{
                display: none;
            }
            .circle{
                position: absolute;
                bottom: -100px;
            }
        }
    }
}
@media (min-width:320px) and (max-width:375.9px){
    .feedBackSide{
        height: 50vh;
        .backgroundFeedback{
            display: flex;
            flex-direction: column;
            padding: 10px 0; 
            .arrow{
                display: none;
            }
            .circle{
                position: absolute;
                bottom: -100px;
            }
        }
    }
}
@media (min-width:260px) and (max-width:319.9px){
    .feedBackSide{
        height: 50vh;
        .backgroundFeedback{
            display: flex;
            flex-direction: column;
            padding: 10px 0; 
            .arrow{
                display: none;
            }
            .circle{
                position: absolute;
                bottom: -100px;
            }
        }
    }
}